@import "variables";

.auth-form {
  &__wrapper {
    height: 93vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left-section {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;

    &__logo-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      svg {
        font-size: 100px;
      }
    }

    &__form-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0px 50px;

      form {
        width: 100%;
      }
    }
  }

  &__right-section {
    position: relative;
    width: 60%;
    height: 100%;
    // background: linear-gradient(rgba(46, 0, 177, 0.7), rgba(15, 0, 58, 0.7)),
    //   url("../resources/Images/programmingImg.jpg") no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-content {
      margin-left: 100px;
      z-index: 2;
      h1 {
        font-size: 32px;
        font-weight: 600;
        color: #fff;
        margin-top: 10px;

        &:first-of-type {
          margin-top: 0px;
        }
      }

      p {
        font-size: 12px;
        color: #fff;
        font-weight: 300;
      }
    }

    &__img-filter {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(
        rgba(34, 255, 83, 0.5),
        rgba(34, 255, 202, 0.5)
      );
      pointer-events: none;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      pointer-events: none;
    }
  }

  &__input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;

    &__input-name {
      color: $text-color;
      font-size: 14px;
    }

    input {
      width: 100%;
      border: none;
      background: #dedede;
      padding: 3px 10px;
      font-size: 14px;
    }
  }

  &__submit-btn {
    padding: 8px 24px;
    font-size: 16px;
    background: $text-color;
    margin-top: 20px;
    color: #fff;
    border: none;

    &:hover {
      filter: brightness(70%);
    }
  }

  &__no-account {
    color: $text-color;
    font-size: 14px;
    margin-top: 20px;

    a {
      color: $primary-color;
      text-decoration: none;
    }
  }

  &__error {
    font-size: 10px;
    color: red;
  }
}

@media screen and (max-width: 992px) {
  .auth-form {
    &__left-section {
      width: 100%;
    }

    &__right-section {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .auth-form {
    &__left-section {
      &__logo-container {
        svg {
          font-size: 80px;
        }
      }
    }

    &__input-container {
      &__input-name {
        font-size: 12px;
      }

      input {
        font-size: 12px;
      }
    }

    &__submit-btn {
      padding: 6px 18px;
      font-size: 14px;
      margin-top: 10px;
    }

    &__no-account {
      font-size: 10px;
    }
  }
}
