@import "variables";

.dashboard {
  &__wrapper {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__side-nav {
    width: 6%;
    height: 100vh;
  }

  &__main-content {
    width: 94%;
    height: 100vh;
    max-height: 100vh;

    &-container {
      height: calc(100% - 7vh);
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
    }

    &-sidebar {
      height: 100%;
      max-height: 100%;
      width: 20%;
      border-right: 1px solid #d3d3d3;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      background: #fff;
      z-index: 1000;

      &__category-selector-container {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
          cursor: pointer;
          height: 100%;
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-bottom: 2px solid #fff;

          &.selected {
            border-color: $text-color;
          }
          span {
            color: $text-color;
            font-size: 12px;
          }
        }
      }

      &__team-list {
        width: 100%;
        height: 95%;
        max-height: 95%;
        padding: 0px 10px;
      }
    }

    &-body {
      width: 80%;
      height: 100%;
      position: relative;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $text-color;
      }

      &::-webkit-scrollbar-track {
        background: #eee;
      }
    }
  }

  &__quick-links-container {
    width: 100%;
    height: 10%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;

    a {
      svg {
        color: $text-color;
        font-size: 24px;
      }

      &:hover {
        svg {
          color: $primary-color;
        }
      }
    }
  }
}

@media screen and(max-width: 992px) {
  .dashboard {
    &__wrapper {
      flex-direction: column;
    }
    &__main-content {
      width: 100%;
      height: calc(100% - 50px);
      order: 1;

      &-body {
        width: 100%;

        // &.shrink {
        //   width: 50%;
        // }
      }

      &-sidebar {
        width: 50%;
        transform: translateX(-100%);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 300ms ease-in-out;
        z-index: 100;

        &.open {
          transform: translateX(0%);
        }
      }
    }

    &__side-nav {
      width: 100%;
      background: red;
      min-height: 50px;
      height: 50px;
      order: 2;
      position: fixed;
      bottom: 0px;
      left: 0px;
      z-index: 10000;
    }
  }
}

@media screen and(max-width: 500px) {
  .dashboard {
    &__main-content {
      &-sidebar {
        width: 80%;
      }
    }
  }
}
