@import "variables";
$red-color: #ff0000;

.navbar {
  width: 100%;
  height: 7vh;
  padding: 0px 5%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  background: none;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  background: $text-color;

  &__logo {
    font-size: 26px;
  }

  &__right-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__right-dropdown {
    position: absolute;
    width: 350px;
    right: 0px;
    top: 100%;
    background: #fff;
    box-shadow: 0px 0px 2px 2px #eee;
    padding: 15px 0px;
    display: none;
    pointer-events: none;

    ul {
      width: 100%;
      height: 100%;
      padding-top: 10px;
      list-style: none;
      margin-bottom: 0px;
      li {
        width: 100%;
        font-family: "Montserrat", sans-serif;
        color: $text-color;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        padding: 3px 15px;

        a {
          list-style: none;
          color: $text-color;
        }

        &:hover {
          background: #d3d3d3;
        }
      }
    }

    &__account-info {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #dedede;
      padding-bottom: 10px;
      &-left,
      &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }

      &-left {
        align-items: center;
        width: 20%;

        &__profile-pic {
          height: 45px;
          width: 45px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #dedede;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: fill;
          }
        }
      }

      &-right {
        width: 80%;

        span {
          font-size: 12px;
          font-weight: 600;
          font-family: "Montserrat", sans-serif;

          &:last-of-type {
            font-weight: 500;
            font-size: 10px;
            color: rgb(148, 148, 148);
          }
        }
      }
    }

    &.open {
      display: block;
      pointer-events: all;
    }
  }

  &__profile-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dedede;
    cursor: pointer;

    span {
      font-weight: bold;
      font-size: 14px;
      color: $text-color;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: fill;
    }
  }
}

.hamburger {
  color: #fff;
  font-size: 24px;
  display: none;
  visibility: hidden;
  margin-left: auto;
}
.projects-teams-hamburger {
  width: 100%;
  position: fixed;
  height: 6vh;
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 5%;
  z-index: 1000;
  // border-bottom: 1px solid $primary-color;
  // box-shadow: 1px 1px 2px $primary-color;
  background: $text-color;

  i {
    font-size: 1.4rem;
    cursor: pointer;
    color: #fff;
  }
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background: transparent;
  font-weight: 500;
  font-size: 18px;
  color: $primary-color;

  span {
    color: $text-color;
  }

  img {
    margin-right: 10px;
  }
}

.nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin: auto 0px;
  transition: all 300ms ease-in-out;
}

.nav-item {
  height: 100%;
  list-style: none;
  text-transform: capitalize;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms ease-in-out;

  a {
    height: 100%;
    font-size: 14px;
    color: #fff;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: $main-cyan;
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      transform: translateY(100%);
      transition: all 200ms ease-in-out;
    }

    &:hover {
      color: $text-color;
      &:after {
        transform: translateY(0%);
      }
    }
  }

  button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    transition: all 100ms linear;

    // &:hover {
    //   // font-weight: 500;
    //   transform: scale(1.01);
    //   // color: $primary-color;
    // }
  }

  // &:hover {
  //   // font-weight: 500;
  //   transform: scale(1.1);
  // }
}

@media screen and (max-width: 992px) {
  .navbar {
    height: 50px;
    &__logo {
      font-size: 24px;
    }
  }
  .nav-list {
    padding-top: 7vh;
    width: 240px;
    height: 100vh;
    position: fixed;
    right: 0px;
    top: 0;
    transform: translateX(240px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: $text-color;

    &.nav-open {
      transform: translateX(0px);
    }
  }

  .nav-open {
    &.hamburger {
      color: white;
    }
  }

  .nav-item {
    &:nth-of-type(1) {
      // margin-top: 50px;
    }
    height: auto;
    width: 100%;
    a,
    button {
      padding: 20px 0px;
      width: 100%;
      height: 100%;
      color: white;
      text-align: center;

      &:hover {
        color: white;
      }
    }
  }

  .hamburger {
    display: inline;
    visibility: visible;
    z-index: 2000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    &__logo {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    &__logo {
      font-size: 20px;
    }

    &__right-dropdown {
      width: 300px;
    }
  }
}
