@import "variables";

.team-preview {
  width: 100%;
  border: 1px solid $text-color;
  padding: 5px 20px;
  border-radius: 50px;
  margin-top: 10px;

  a {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    span {
      color: $text-color;
    }
  }

  &:hover,
  &.selected {
    background: $text-color;

    a span,
    span i {
      color: #fff;
    }
  }
}
