@import "variables";

.team-preview {
  width: 100%;
  border: 1px solid $text-color;
  padding: 5px 20px;
  border-radius: 50px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: $text-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(100%);
    transition: all 200ms ease-in-out;
  }

  a {
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: $text-color;

    span {
      color: $text-color;
    }
  }

  &:hover,
  &.selected {
    &::after {
      transform: translateY(0%);
    }

    a span,
    span i {
      color: #fff;
    }
  }
}

.project-preview {
  width: 100%;
  border: 1px solid $text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-radius: 50px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: $text-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(100%);
    transition: all 200ms ease-in-out;
  }

  a {
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    span {
      color: $text-color;
    }
  }

  &:hover,
  &.selected {
    &::after {
      transform: translateY(0%);
    }

    a span,
    i {
      color: #fff;
    }
  }
}

.issue-preview {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 5px 20px;
  background: $page-background;
  overflow: hidden;
  border-radius: 50px;

  span[id*="bug-status-"] {
    line-height: 45px;
  }

  i {
    &:nth-last-child(1) {
      cursor: pointer;
    }
    margin-left: auto;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid $text-color;
    width: 100%;
    transition: all 200ms ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: -2px 2px 2px 2px $light-grey;
      border-color: transparent;
    }
  }

  &__first-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    align-items: center;
  }

  &__second-div {
    display: grid;
    grid-template-columns: 11fr 1fr;
    align-items: center;
  }

  &__name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $primary-color;
    text-align: left;
    cursor: pointer;
  }

  &__description {
    color: $text-color;
    width: auto;
    text-align: left;
    position: relative;
    margin: auto 0px;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__label {
    min-width: 180px;
    max-width: auto;
    text-align: center;
    display: block;
    color: white;
    white-space: nowrap;
    padding: 1px 15px;
    border-radius: 75px;

    &:last-of-type {
      margin-right: 20px;
    }
  }

  &__status {
    display: inline-block;
    width: fit-content;
    margin-left: 20px;
    text-align: center;
    i {
      text-align: center;
      margin: auto;
    }
  }

  &__delete {
    margin-left: 20px;
    svg {
      font-size: 20px;
      color: $text-color;
    }
  }
}
