@import "variables";

.search-bar {
  &__wrapper {
    min-width: 30%;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    padding: 5px 10px;
    z-index: 2;
    border: 2px solid $primary-color;
    border-radius: 20px;
    // box-shadow: 0.5px 0.5px 2px grey;

    span {
      margin-right: 5px;
    }

    input {
      border: none;
      flex: 1;

      &:focus {
        outline: $text-color;
      }
    }
  }
}
