@import "variables";

.spinner {
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

    svg {
      // border: 1px solid red;
      width: 40px;
      height: 40px;
      position: relative;
      animation: rotateSpinner 2s linear infinite;

      circle {
        width: 100%;
        height: 100%;
        fill: none;
        stroke-width: 1;
        stroke: $primary-color;
        stroke-linecap: round;
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
        transform: translate(4px, 4px);
        animation: animateSpinnerStroke 4s linear infinite;
      }
    }
  }
}

@keyframes animateSpinnerStroke {
  0%,
  100% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 200;
  }
}

@keyframes rotateSpinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
