@import "variables";

.team {
  &__profile-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0px 20px 20px;
  }

  &__dashboard-landing-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 80px;
    }

    h6 {
      font-size: 16px;
      margin-top: 20px;
      color: $text-color;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
    }

    a {
      margin-top: 10px;
      background: $text-color;
      color: $page-background;
      padding: 8px 14px;
      font-size: 14px;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 12%;

    &-content {
      margin-left: 20px;
    }

    &-actions-container {
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 35px;

      div {
        cursor: pointer;
        margin-right: 10px;
        svg {
          font-size: 24px;
          color: $text-color;
        }

        &:last-of-type {
          margin-right: 0px;
        }

        &:hover {
          svg {
            color: $primary-color;
          }
        }
      }
    }
  }

  &__img-container {
    min-width: 70px;
    min-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #d3d3d3;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        color: $text-color;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  &__name {
    display: flex;
    align-items: center;
    color: $primary-color;
    text-align: left;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 0px;

    i {
      color: $text-color;
      font-size: 16px;
      margin-left: 30px;
      cursor: pointer;
    }
  }

  &__id {
    color: $primary-color;
    font-weight: 300;
    text-align: left;
    font-size: 12px;
    margin-bottom: 0px;
    span {
      color: $text-color;
    }
  }

  &__projects {
    width: 100%;
    height: calc(88% - 70px);
    margin-top: 20px;
    padding-right: 20px;
  }

  &__search-bar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
}

.individual-container {
  width: 100%;
  background: $page-background;
  padding-left: 175px;
  position: relative;

  .containers {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    position: relative;
    padding: 0px 20px;

    > div {
      width: 100%;
    }
  }

  .preview {
    margin-left: 0px !important;
  }
}

@media screen and(max-width: 992px) {
  .teams {
    &__dashboard {
      &-wrapper {
        flex-direction: column;
      }
      &-main-content {
        width: 100%;
        height: calc(100vh - 50px);
        order: 1;
      }

      &-side-nav {
        width: 100%;
        height: 50px;
        order: 2;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .team {
    &__dashboard-landing-wrapper {
      svg {
        font-size: 65px;
      }
    }
  }
}

@media screen and(max-width: 500px) {
  .team {
    &__profile-wrapper {
      padding: 10px;
    }

    &__dashboard-landing-wrapper {
      svg {
        font-size: 55px;
      }

      h6 {
        font-size: 14px;
      }
    }

    &__header {
      &-actions-container {
        padding-right: 0px;
      }
    }

    &__name {
      font-size: 22px;
    }

    &__id {
      font-size: 10px;
    }

    &__projects {
      padding-right: 0px;
    }

    &__img-container {
      min-width: 50px;
      min-height: 50px;
      width: 50px;
      height: 50px;

      div {
        span {
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .team {
    &__dashboard-landing-wrapper {
      svg {
        font-size: 45px;
      }

      h6 {
        font-size: 12px;
      }

      a {
        font-size: 10px;
        padding: 4px 10px;
      }
    }
  }
}
