@import "variables";

.teams {
  &__dashboard {
    &-wrapper {
      width: 100%;
      min-height: 100vh;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &-side-nav {
      width: 6%;
      height: 100vh;
    }

    &-main-content {
      width: 94%;
      height: 100vh;
      max-height: 100vh;

      &-container {
        height: calc(100% - 7vh);
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }

      &-sidebar {
        height: 100%;
        max-height: 100%;
        width: 20%;
        border-right: 1px solid #d3d3d3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__category-selector-container {
          width: 100%;
          height: 5%;
          display: flex;
          justify-content: center;
          align-items: center;
          div {
            cursor: pointer;
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid #fff;

            &.selected {
              border-color: $text-color;
            }
            span {
              color: $text-color;
              font-size: 12px;
            }
          }
        }

        &__team-list {
          width: 100%;
          height: 95%;
          max-height: 95%;
          padding: 0px 10px;
        }
      }

      &-body {
        width: 80%;
        height: 100%;
      }
    }

    &__quick-links-container {
      width: 100%;
      height: 10%;
      padding: 0px 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid #d3d3d3;

      a {
        svg {
          color: $text-color;
          font-size: 24px;
        }

        &:hover {
          svg {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.team {
  &__profile-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0px 20px 20px;
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 12%;

    &-content {
      margin-left: 20px;
    }

    &-actions-container {
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 35px;

      div {
        cursor: pointer;
        margin-left: 42px;
        svg {
          font-size: 24px;
          color: $text-color;
        }

        &:hover {
          svg {
            color: $primary-color;
          }
        }
      }
    }
  }

  &__img-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #d3d3d3;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        color: $text-color;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  &__name {
    display: flex;
    align-items: center;
    color: $primary-color;
    text-align: left;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 0px;

    i {
      color: $text-color;
      font-size: 16px;
      margin-left: 30px;
      cursor: pointer;
    }
  }

  &__id {
    color: $primary-color;
    font-weight: 300;
    text-align: left;
    font-size: 12px;
    margin-bottom: 0px;
    span {
      color: $text-color;
    }
  }

  &__projects {
    width: 100%;
    height: calc(88% - 70px);
    margin-top: 20px;
    padding-right: 20px;
  }

  &__search-bar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
}

.individual-container {
  width: 100%;
  background: $page-background;
  padding-left: 175px;
  position: relative;

  .containers {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    position: relative;
    padding: 0px 20px;

    > div {
      width: 100%;
    }
  }

  .preview {
    margin-left: 0px !important;
  }
}

@media screen and(max-width: 992px) {
  .teams {
    &__dashboard {
      &-wrapper {
        flex-direction: column;
      }
      &-main-content {
        width: 100%;
        height: calc(100vh - 50px);
        order: 1;
      }

      &-side-nav {
        width: 100%;
        height: 50px;
        order: 2;
      }
    }
  }
}
