$red-color: #ff0000;
$primary-color: #2e00b1;
$text-color: #080021;
$text-color-2: #0f003a;
$vector-background: #e4e3ff;
$page-background: #fdfcff;
$main-cyan: #22ffca;
$main-green: #22ff53;
$light-grey: #d3d3d3;
$light-grey2: #dedede;
$light-grey3: #f6f6f6;
$light-grey4: #dddddd;
